<app-jumbotron [Titolo]="'Benvenuto al nostro portale!'" [SottoTitolo]="'Registrati! cosi potrai avere accesso ai nostri prodotti esclusivi!'" [Show]="true"></app-jumbotron>
<form>
  <div class="container">
    <h1>Registrati</h1>
    <p>Completa i campi sottostanti per registrare il tuo Account</p>
    <hr>
    <div *ngIf="(errors === undefined || errors != null)" class="errorMessage">
      <p>{{errorsMessage}}</p>
    </div>
    <div *ngIf = "name === '' && !errorMessageControll"><p class="errorMessage"> Inserisci il tuo nome </p></div>
    <label for="nome"><b>Nome</b></label>
    <input [ngClass]="{'text' : name === '' && !errorMessageControll}" type="text" placeholder="Inserisci Nome" name="nome" [(ngModel)] = "name" required>

    <div *ngIf = "surname === '' && !errorMessageControll"><p class="errorMessage"> Inserisci il tuo cognome </p></div>
    <label for="cognome"><b>Cognome</b></label>
    <input [ngClass]="{'text' : surname === '' && !errorMessageControll}" type="text" placeholder="Inserisci Cognome" name="cognome" [(ngModel)] = "surname" required>

    <div *ngIf = "!emailControll() && !errorMessageControll"><p class="errorMessage"> Email non valida! </p></div>
    <label for="email"><b>Email</b></label>
    <input [ngClass]="{'text' : !emailControll() && !errorMessageControll}" type="text" placeholder="Inserisci Email" name="email" [(ngModel)] = "email" required>

    <div *ngIf = "username === '' && !errorMessageControll"><p class="errorMessage"> Inserisci la tua username </p></div>
    <label for="username"><b>Username</b></label>
    <input [ngClass]="{'text' : username === '' && !errorMessageControll}" type="text" placeholder="Inserisci Username" name="Username" [(ngModel)] = "username" required>

    <div *ngIf = "!passwordControll() && !errorMessageControll"><p class="errorMessage"> La password deve contenere almeno: 8 Caratteri, 1 carattere Maiuscolo, 1 carattere speciale e 1 numero </p></div>
    <label for="psw"><b>Password</b></label>
    <input [ngClass]="{'text' : !passwordControll() && !errorMessageControll}" type="password" placeholder="Inserisci la Password" name="psw" [(ngModel)] = "password" required>

    <div *ngIf = "!passwordRptControll() && !errorMessageControll"><p class="errorMessage"> Le password non corrispondono. </p></div>
    <label for="psw-repeat"><b>Ripeti Password</b></label>
    <input [ngClass]="{'text' : !passwordRptControll() || !errorMessageControll && passwordRpt === ''}" type="password" placeholder="Re-Inserisci la Password" name="psw-repeat" [(ngModel)] = "passwordRpt" required>
    <hr>

    <p >Creando il tuo account stai accettando i nostri <a href="#">Terms & Privacy</a>.</p>
    <button (click) = "insertUser()" class="registerbtn">Registrati</button>
  </div>

  <div class="container signin">
    <p>Hai già un account? <a href="#">Accedi</a>.</p>
  </div>


</form> 