footer p {
	display: inline;
	margin-left: 10px;
}

footer a {
	color: inherit;
}

.footer {
    //position: absolute;
    bottom: 0px;
    width: 100%;
    color: #333;
    background: #fff;
    position: fixed;
}